{% extends 'base.html'%}
{% block body %}

  <div class="jumbotron">
  <h1 class="display-4">What Is the Stock Market and How Does It Work?</h1>
  <p class="lead">The stock market is where investors connect to buy and sell investments — most commonly, stocks, which are shares of ownership in a public company.</p>
  <hr class="my-4">
  <p><b>How to invest in stocks</b></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.nerdwallet.com/article/investing/what-is-the-stock-market" role="button">Learn more</a>
  </p>
</div>

<div class="container">

<div class="card-group">

<div class="card" >
  <img class="card-img-top" src="https://images.unsplash.com/photo-1468254095679-bbcba94a7066?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fHN0b2NrJTIwZXhjaGFuZ2V8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">How does the stock market work ?</h5>
    <p class="card-text">If you have a 401(k) through your workplace, you may already be invested in the stock market. Mutual funds, which are often composed of stocks from many different companies, are common in 401(k)s.</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="https://images.unsplash.com/photo-1504607798333-52a30db54a5d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fHN0b2NrJTIwZXhjaGFuZ2V8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">What is the stock market doing today?</h5>
    <p class="card-text">The concept behind how the stock market works is pretty simple. Operating much like an auction house, the stock market enables buyers and sellers to negotiate prices </p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="https://images.unsplash.com/photo-1559589689-577aabd1db4f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8c3RvY2slMjBleGNoYW5nZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">How do you invest in the stock market?</h5>
    <p class="card-text">Investing in the stock market does come with risks, but with the right investment strategies, it can be done safely with minimal risk of long-term losses. </p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
</div>

</div>
</div>


{% endblock %}